input, textarea, select{
    display: block;
    margin-bottom: 10px;
}
input[type=radio], input[type=checkbox],input[type=text], input[type=password]{
    display: inline;
}
.raiva {
    display: inline;
}